@{
    ViewData["Title"] = "Minha Conta";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <section class="section-login">
        <div class="container">
            @* Login *@
            <div class="login">
                <img src="~/Images/logotype.webp" alt="Nextmidia logo" class="logo-login" />
                <div class="login-input-wrapper">
                    <p class="heading-login">
                        Criar Conta
                    </p>
                    @using (Html.BeginForm("CriarConta", "Conta", FormMethod.Post))
                    {
                        <div class="input-group-wrapper">
                            <div class="input-wrapper">
                                <div class="input-label">Nome de Usuário</div>
                                <input name="Nome" id="Nome" type="text" />
                                @if (ViewData["UsuarioError"] != null)
                                {
                                    <div class="input-error-label">@ViewData["UsuarioError"]</div>
                                }
                            </div>
                            <div class="input-wrapper">
                                <div class="input-label">E-mail</div>
                                <input name="Email" id="Email" type="email" />
                                @if (ViewData["EmailError"] != null)
                                {
                                    <div class="input-error-label">@ViewData["EmailError"]</div>
                                }
                            </div>
                            <div class="input-wrapper">
                                <div class="input-label">Senha</div>
                                <input name="Senha" id="Senha" type="password" />
                                @if (ViewData["SenhaError"] != null)
                                {
                                    <div class="input-error-label">@ViewData["SenhaError"]</div>
                                }
                            </div>
                            <div class="input-wrapper">
                                <div class="input-label">Confirme a senha</div>
                                <input name="ConfirmacaoSenha" id="ConfirmacaoSenha" type="password" />
                                @if (ViewData["ConfirmacaoSenhaError"] != null)
                                {
                                    <div class="input-error-label">@ViewData["ConfirmacaoSenhaError"]</div>
                                }
                            </div>

                        <button class="btn btn--contrast btn--create"
                                type="submit">
                            Criar Conta
                        </button>
                        @if (ViewData["GeneralError"] != null)
                        {
                            <div class="input-error-label">@ViewData["GeneralError"]</div>
                        }
                        </div>
                    }
                </div>
            </div>            
        </div>
    </section>
</body>
</html>