@model NextMidiaWeb.Models.ViewModel.MidiaViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <section>
            <nav>
                <ul>
                    <li><button onclick="window.location.href='@Url.Action("Index", "Conta")';">Conta</button></li>
                    <li><button onclick="window.location.href='@Url.Action("MidiasFavoritas", "Conta")';">Mídias Favoritas</button></li>
                </ul>
            </nav>
            <div class="page-wrapper">
                <h1>Mídias Favoritadas</h1>
                @if (Model != null)
                {
                    <div>
                        <ul>
                            @foreach (var midia in Model.midias)
                            {
                                <div>
                                    <div>@midia.Nome</div>
                                    <div>@midia.Sinopse</div>
                                    <div>@midia.DataLancamento</div>
                                </div>
                            }
                        </ul>
                    </div>

                }
            </div>
        </section>
    </main>
</body>
</html>