@model NextMidiaWeb.Models.ViewModel.MidiaViewModel
@{
    ViewData["Title"] = "Midias Favoritas";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <main>
        <section>
            <nav>
                <ul class="nav-list">
                    <li>
                        <button onclick="window.location.href='@Url.Action("Index", "Conta")';">
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd" />
                            </svg>
                            Conta
                        </button>
                    </li>
                    <li>
                        <button onclick="window.location.href='@Url.Action("MidiasFavoritas", "Conta")';">
                            <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z" />
                            </svg>
                            Favoritos
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="page-wrapper">
                <h1>Mídias Favoritas</h1>
                @if (Model != null)
                {
                    <div>
                        <ul>
                            @foreach (var midia in Model.midias)
                            {
                                <div class="midia-wrapper">
                                    @* Banner e Midias Associadas *@
                                    <div class="midia-image-wrapper">
                                        <img src=@("https://image.tmdb.org/t/p/w500" + @midia.ImagemPoster)
                                             onclick="window.location.href='@Url.Action("Midia", "Midia", new { id = midia.Id })';" />
                                        <div class="vote-info-wrapper">
                                            <div><strong>@midia.MediaDeVotos/10 ⭐ - @midia.ContagemDeVotos voto(os)</strong></div>
                                        </div>
                                        <div class="midia-associada-wrapper">
                                            @* Lógica de Mídia Associada *@
                                        </div>
                                    </div>

                                    @* Info *@
                                    <div class="midia-info-wrapper">
                                        <h2>@midia.Nome</h2>
                                        <div class="sinopse-wrapper">
                                            @midia.Sinopse
                                        </div>
                                        <div class="extra-info-wrapper">
                                            @if (midia.Status != null)
                                            {
                                                <div><strong>Status:</strong> @midia.Status</div>
                                                <div><strong>Lançamento:</strong> @midia.DataLancamento.ToString("d")</div>
                                            }
                                            @if (midia.Verba != null && midia.Bilheteria != null)
                                            {
                                                <div><strong>Verba:</strong> $ @midia.Verba</div>
                                                <div><strong>Biilheteria:</strong> $ @midia.Bilheteria</div>
                                            }
                                        </div>
                                        <div>
                                            @if (midia.Produtoras != null)
                                            {
                                                <h2>Produtoras</h2>
                                                foreach (var produtora in midia.Produtoras)
                                                {
                                                    <div>º @produtora.Nome</div>
                                                }
                                            }
                                        </div>
                                        <div class="tags-wrapper">
                                            <div>
                                                @if (midia.Generos != null)
                                                {
                                                    <h2>Tags</h2>
                                                    @foreach (var genero in midia.Generos)
                                                    {
                                                        <span class="tag">@genero.Nome</span>
                                                    }
                                                }
                                                else
                                               if (midia.IdsGenero != null)
                                                    @foreach (var genero in midia.IdsGenero)
                                                    {
                                                        <span class="tag">@genero</span>
                                                    }
                                            </div>
                                        </div>
                                        <div class="custom-btn">
                                            <a class="btn-link"
                                               onclick="window.location.href='@Url.Action("RemoverFavorito", "Midia", new { id = midia.Id })';">Remover dos Favoritos</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                            }
                        </ul>
                    </div>

                }
            </div>
        </section>
    </main>
</body>
</html>