@using NextMidiaWeb.Models

<div class="midia-wrapper">
    @* Banner e Midias Associadas *@
    <div class="midia-image-wrapper">
        @if (this.ImagemCapa)
        {
            <img src=@("https://image.tmdb.org/t/p/w500" + midia.ImagemCapa)
                 onclick="window.location.pathname= '@string.Concat("Midia/", midia.Id)'" />
        }
        else
        {
            <img src=@("https://image.tmdb.org/t/p/w500" + midia.ImagemPoster)
                 onclick="window.location.pathname= '@string.Concat("Midia/", midia.Id)'" />
        }
        <div class="vote-info-wrapper">
            <div><strong>@midia.MediaDeVotos/10 ⭐ - @midia.ContagemDeVotos voto(os)</strong></div>
        </div>
        <div class="midia-associada-wrapper">
            @* Lógica de Mídia Associada *@
        </div>
    </div>

    @* Info *@
    <div class="midia-info-wrapper">
        <h1>@midia.Nome</h1>
        <div class="sinopse-wrapper">
            @midia.Sinopse
        </div>
        <div class="extra-info-wrapper">
            @if (midia.Status != null)
            {
                <div><strong>Status:</strong> @midia.Status</div>
                <div><strong>Lançamento:</strong> @midia.DataLancamento.ToString("d")</div>
            }
            @if (midia.Verba != null && midia.Bilheteria != null)
            {
                <div><strong>Verba:</strong> $ @midia.Verba</div>
                <div><strong>Biilheteria:</strong> $ @midia.Bilheteria</div>
            }
        </div>
        <div>
            @if (midia.Produtoras != null)
            {
                <h2>Produtoras</h2>
                foreach (var produtora in midia.Produtoras)
                {
                    <div>º @produtora.Nome</div>
                }
            }
        </div>
        <div class="tags-wrapper">
            <div>
                @if (midia.Generos != null)
                {
                    <h2>Tags</h2>
                    <div>
                        @foreach (var genero in midia.Generos)
                        {
                            <a class="tag" onclick="window.location.pathname= '@string.Concat("Tag/", @genero.Nome.Trim(), '/', @genero.Id)'">@genero.Nome</a>
                        }
                    </div>
                }
                else
                if (midia.IdsGenero != null)
                    @foreach (var genero in midia.IdsGenero)
                    {
                        <span class="tag">@Enum.GetName(typeof(NextMidiaWeb.Models.Enums.eGenerosFilme), int.Parse(genero))</span>
                    }
            </div>
        </div>
        @if (ExibeFavoritar)
        {
            <div class="fav-btn-wrapper">
                <div class="custom-btn">
                    <a class="btn-link"
                       onclick="window.location.href='@string.Concat(midia.Id, "/Favoritar")'">Favoritar</a>
                </div>
            </div>
        }
    </div>
</div>
@if (@midia.Trailer != null && @ExibeTrailer)
{
    <div class="trailer-wrapper">
        @if (ImagemCapa)
        {
            <iframe width="1200" height="675" src=@($"https://youtube.com/embed/{@midia.Trailer}?controls=0")></iframe>
        }
        else
        {
            <iframe width="1600" height="875" src=@($"https://youtube.com/embed/{@midia.Trailer}?controls=0")></iframe>
        }
    </div>
}

@code {
    [Parameter]
    public NextMidiaWeb.Domain.Entities.Midia midia { get; set; }

    [Parameter]
    public string? idUsuario { get; set; }

    [Parameter]
    public bool ImagemCapa { get; set; } = false;

    [Parameter]
    public bool ExibeTrailer { get; set; } = false;

    [Parameter]
    public bool ExibeFavoritar { get; set; } = false;
}