<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NextMidiaWeb.styles.css" asp-append-version="true" />
</head>
<body>
    @if (Html.ViewContext.HttpContext.Request.Path.Value.ToString() == "/Login"
    || Html.ViewContext.HttpContext.Request.Path.Value.ToString() == "/Conta/CriarConta")
    {
        <div></div>
    }
    else
    {
        <header class="header">
            <img src="img/logos/logotype.png" alt="Nextmidia logo" class="logo" />
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <ul class="main-nav-list">
                        @if (Html.ViewContext.HttpContext.Request.Path.Value.ToString() == "/")
                        {
                            <li class="nav-item"> <a class="main-nav-link" href="#" onclick="window.location.href='@Url.Action("Index", "Sobre")';"> Sobre </a> </li>
                            <li class="nav-item">
                                <a class="main-nav-link nav-cta"
                                   asp-controller="Home"
                                   asp-action="RedirectToLogin"> Experimente já</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"> <a class="main-nav-link" href="#" onclick="window.location.href='@Url.Action("Explorar", "Midia")';"> Midias </a> </li>
                            <li class="nav-item"> <a class="main-nav-link" href="#" onclick="window.location.href='@Url.Action("Index", "Tag")';"> Tags </a> </li>
                            <li class="nav-item"> <a class="main-nav-link" href="#" onclick="window.location.href='@Url.Action("Index", "Sobre")';"> Sobre </a> </li>

                            @if (this.Context.Session.GetString("UserId") != null)
                            {
                                <li class="nav-item"> <a class="main-nav-link" href="#" onclick="window.location.href='@Url.Action("Index", "Conta")';"> Conta </a> </li>
                                <li class="nav-item">@this.Context.Session.GetString("UserId") - @this.Context.Session.GetString("Username")</li>
                            }
                        }
                    </ul>
                </ul>
            </nav>
        </header>
    }
    <div class="" style="margin-bottom: 85px;">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NextMidiaWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
