@using NextMidiaWeb.Models.ViewModel
@model MidiaViewModel
@using NextMidiaWeb.Views.Componentes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NextMidiaWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <h1>Midia do Dia</h1>
        @if (Model != null)
        {
            <component type="typeof(MidiaInfo)"
                       render-mode="ServerPrerendered"
                       param-midia="@Model.midiaDia" />

            <div class="carrousel-container">
                <h3>Sua próxima mídia:</h3>
                <div class="carrousel-wrappper">
                    <div class="container">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="next-media-wrapper">
                                        <span>@Model.midias[1].Nome - @Model.midias[1].DataLancamento.ToShortDateString()</span>
                                    </div>
                                    <img class="image-next-media"
                                         alt="Sua próxima mídia"
                                         src="@Url.Content("https://image.tmdb.org/t/p/w500" + Model.midias[1].ImagemCapa)"
                                         style="width:100%;"
                                         onclick="window.location.href='@Url.Action("Midia", "Midia", new { id = Model.midias[1].Id })';" />
                                    />
                                </div>

                                <div class="item">
                                    <div class="next-media-wrapper">
                                        <span>@Model.midias[2].Nome - @Model.midias[2].DataLancamento.ToShortDateString()</span>
                                    </div>
                                    <img class="image-next-media"
                                         alt="Sua próxima mídia"
                                         src="@Url.Content("https://image.tmdb.org/t/p/w500" + Model.midias[2].ImagemCapa)"
                                         style="width:100%;"
                                         onclick="window.location.href='@Url.Action("Midia", "Midia", new { id = Model.midias[2].Id })';" />

                                    />
                                </div>

                                <div class="item">
                                    <div class="next-media-wrapper">
                                        <span>@Model.midias[3].Nome - @Model.midias[3].DataLancamento.ToShortDateString()</span>
                                    </div>
                                    <img class="image-next-media"
                                         alt="Sua próxima mídia"
                                         src="@Url.Content("https://image.tmdb.org/t/p/w500" + Model.midias[3].ImagemCapa)"
                                         style="width:100%;"
                                         onclick="window.location.href='@Url.Action("Midia", "Midia", new { id = Model.midias[3].Id })';" />
                                    />
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
</body>
</html>                                